/* Estilo para o body */
body {
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
    justify-content: center; /* Centraliza no eixo vertical */
    align-items: center; /* Centraliza no eixo horizontal */
    height: 100vh; /* Faz o body ocupar 100% da altura da tela */
    margin: 0; /* Remove a margem padrão */
    text-align: center; /* Centraliza os textos */
    background-color: lightgray; /* Cor de fundo opcional */
}

/* Estilo para a div que contém a imagem */
.imagem-container {
    text-align: center; /* Garante que a imagem fique centralizada */
}

/* Estilo para as imagens */
img {
    max-width: 80%; /* A imagem ocupará no máximo 80% da largura da tela */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilo para o título h1 */
h1 {
    color: rgb(20, 164, 247);
    margin-top: 20px; /* Espaço superior */
    font-size: 32px; /* Define o tamanho da fonte */
}

/* Estilo para o subtítulo h2 */
h2 {
    color: rgba(55, 194, 85, 0.966);
    margin-top: 10px; /* Espaço superior */
    font-size: 24px; /* Define o tamanho da fonte */
}